@media screen and (max-width: 600px) {
    .navbar_logo {
      display: none;
    }
    .mobile_logo {
      display: block;
    }
  
    .login {
      display: none;
    }
  
    .menu .lenguage {
      display: none;
    }
  
  }