@media screen and (max-width: 600px) {

  .navbar_logo {
    display: none;
  }

  .mobile_logo {
    display: block;
  }

  .login {
    display: none;
  }

  .nomobile {
    display: none;
  }

  .home_section_vertical_social {
    display: none;
  }

  .header {
    height: 100%;
    width: 100%;
    background: url(IMG/Imagen1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .navbar_header {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.50) 75%, rgba(0,0,0,0.10) 100%);
    height: 70px;
    width: 100%;
    padding: 0 38px 0 50px;
    border-bottom: 1px solid #FFF;
    position: fixed;
  }

}