@media screen and (max-width: 600px) {

  .navbar_logo {
    display: none;
  }

  .mobile_logo {
    display: block;
  }

  .login {
    display: none;
  }

  .nomobile {
    display: none;
  }

  .home_section_vertical_social {
    display: none;
  }

  .header {
    height: 100%;
    width: 100%;
    background: url(IMG/Imagen1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .navbar_header {
    background: transparent;
    height: 70px;
    width: 100%;
    padding: 0 20px 0 20px;
    border-bottom: none;
    position: fixed;
  }

  .home_section_presentation .home_section_text {
    padding-left: 20px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .search_text {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  } 

  .search_text .search_element {
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .search {
    background: transparent;
    width: 455px;
    height: 45px;
    border: solid 1px #fff;
    border-radius: 100px;
    outline: none;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 390;
    padding-left: 25px;
  }

  .home_section_button {
    padding: 15px 150px;
    justify-self: end;
  }

}