@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Poppins&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*
{
padding: 0;
margin: 0;
box-sizing: border-box;
}

/* Start: Navbar */

.header {
    background: linear-gradient(180deg, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.30) 75%, rgba(0,0,0,0) 100%), url(IMG/Imagen1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.navbar_header {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.50) 75%, rgba(0,0,0,0.10) 100%);
    height: 123px;
    width: 100%;
    padding: 0 38px 0 122px;
    border-bottom: 1px solid #FFF;
    position: fixed;
}

.navbar_header .navbar_nav a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    text-align: center;
}

.navbar_header .navbar_nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar_header .navbar_container-links {
    height: fit-content;
    display: flex;
    gap: 60px;
    flex-direction: row;
    justify-content: center;
}

.navbar_header .navbar_container-links a {
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    text-align: center;
}   

.navbar_logo {
    width: auto;
    height: 17%;
}

.mobile_logo {
    display: none;
}

.LogIn {
    padding-right: 20px;
    border-right: 1.5px solid #FFF; 
}

.SignUp {
    padding-left: 20px;
}

.ESP {
    padding-right: 20px; 
}

.ENG {
    padding-left: 20px;
    padding-right: 20px;
}

.menulink {
    padding-left: 10px;
}

.imgmenu {
    padding-left: 30px;
    border-left: 1.5px solid #FFF;
    width: 25%;
    height: auto;
}

/* End: Navbar */

/* Start: Home Landing image */

.home_section_presentation {
    width: 100%;
    height: 957px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.home_section_presentation .home_section_text {
    width: auto;
    height: fit-content;
    padding-top: 521px;
    padding-left: 122px;
}

.home_section_presentation .home_section_text p {
    color: #B4B7B7;
    font-family: 'Hedvig Letters Serif';
    font-size: 40px;
    font-weight: 400;
}

.home_section_presentation .home_section_text h1 {
    color: #FFF;
    font-family: 'Hedvig Letters Serif';
    font-size: 80px;
    font-weight: 500;
}

.search_text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

input::placeholder {
    color: #FFF;
}

.search_text .search_element {
    padding-top: 167px;
    padding-right: 122px;
}

.search {
    background: url(IMG/lupa.png) no-repeat 458px 20px;
    width: 529px;
    height: 60px;
    border: solid 1px #fff;
    border-radius: 100px;
    outline: none;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 390;
    padding-left: 44px;
}

/* End: Home Landing image */

/* Start: Social Media */

.home_section_vertical_social {
    position: fixed;
    z-index: 999;
    left: 20px;
    bottom: 196px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
  
 .home_section_vertical_social p {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 800;
    color: #7E7E7E;
    line-height: 1px;
    width: 100%;
    height: auto;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
  
  .home_section_vertical_social .line-vertical {
    height: 45px;
    border-left: 1px solid #7E7E7E;
    margin-top: 10px;
  }
  
  .home_section_vertical_social .social {
    height: 18px;
    width: 18px;
  }

/* End: Social Media */

/* Start: Properties galeria */

span {
    color: #DF991B;
    font-family: 'Hedvig Letters Serif';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
}

h2 {
    color: #000;
    font-family: 'Hedvig Letters Serif';
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
}

.information_body_sale {
    padding-top: 124px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 69px;
    place-items: end;
}

.information_body_rent {
    padding-top: 124px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 69px;
    place-items: start;
}

.properties_for_sale_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    padding-right: 122px;
}

.properties_for_rent_text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 122px;
}

  .properties_for_information p {
    color: #000;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 330;
    padding-top: 51px;
}

.properties_for_galery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: hidden;
    gap: 20px;
}

.picture {
    grid-column: span 5;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.inactive {
    grid-column: span 2;
}

.picture_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picture_box {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    padding: 17px 42px 27px;
}

.picture_box_title {
    display: flex;
    align-items: flex-end;
}

.picture_box img {
    display: none;
}

.picture h3 {
    color: #FFF;
    font-family: 'Hedvig Letters Serif';
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    margin: 0;
}

.picture p {
    color: #FFF;
    font-family: 'Hedvig Letters Serif';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
}

.picture:hover .picture_box {
    background-color: #FFF;
}

.picture:hover p {
    color: #000;
}

.picture:hover h3 {
    color: #464547;
}

.picture:hover .picture_box img {
    display: block;
    padding-right: 15px;
}

.properties_for_button {
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.big_button {
    background-color: #FFF;
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 390;
    padding: 24px 65px;
    border-radius: 100px;
    border: 1px solid #000;
}

.big_button:hover {
    background-color: #000;
    color: #FFF;
}

.page_button{
    background-color: #FFF;
    color: #B4B7B7;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 390;
    border: none;
}

.page_button{
    display: flex;
    gap: 15px;
    align-items: center;
}

.page_button .imagen_hover {
    display: none;
}

.page_button:hover {
    color: #DF991B;
} 

.page_button:hover .imagen_normal {
    display: none;
}

.page_button:hover .imagen_hover {
    display: inline;
}

/* End: Properties galeria */

/* Start: Developments */

.information_body_developments {
    padding-top: 157px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
    place-items: center;
}

.developments_text {
    text-align: center;
}

.picturo_box2 {
    background-color: #FFF;
    width: 100%;
    height: 145px;
}

.picture_box2_title {
    padding: 42px 47px;
}

.picture_box2_title p {
    color: #000;
    font-family: 'Hedvig Letters Serif';
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
} 

.picture_box2_title h3 {
    color: #464547;
    font-family: 'Hedvig Letters Serif';
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
}

.first_colum {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;  
}

.developments_galery {
    grid-column: span 3;
    position: relative;
    transition: transform 0.3s;
}

.developments_picture {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 262px;
}

.developments_picture_clip {
    width: 100%; 
    height: auto;
    clip: rect(auto, auto, auto, auto);
}

.developments_galery:hover {
    transform: translateY(-10px);
    border: 1.5px solid #000;
}

/* End: Developments */

/* Start: Services */

.information_services {
    padding-top: 152px;
    padding-right: 122px;
    padding-left: 122px;
    display: flex;
    gap: 80px;
    min-height: 1011px;
}

.first_services {
    position: relative;
    height: 100%;
    padding: 85px 0 85px 120px;
    display: flex;
    justify-content: center;
}

.first_services::after {
    content: "";
    background-color: #26282B;
    width: 670px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.first_services img {
    width: 830px;
    height: 830px;
    object-fit: cover;
    z-index: 2;
}

.services_button {
    display: flex; 
    justify-content: space-between;
}

.services_button {
    display: flex;
    margin-top: 50px;   
}

/* End: Services */

/* Start: Footer */

.footer {
    padding-top: 224px;
}

footer {
    background-color: black;
    width: 100%;
    display: grid;
    justify-content: center;
    position: relative;
  }
  
.news {
    width: 100%;
    height: 312px;
    background-color: #26282B;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 49px 141px 55px 141px;
    transform: translate(0, -50%);
}
  
h4 {
    color: #FFF;
    font-family: 'Hedvig Letters Serif';
    font-size: 60px;
    font-style: normal;
    font-weight: 500;
}

.footer_form p {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 25px;
    font-style: normal;
    font-weight: 390;
}
  
.footer_form {
    display: grid;
    gap: 19px;
}
  
.footer_form input {
    background-color: transparent;
    color: #7E7E7E;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    font-weight: 390;
    border: 1px solid #7E7E7E;
    border-radius: 100px;
    padding: 20px 53px;
    width: 100%;
    
}
  
.footer_form button {
    background-color: transparent;
    color: #DF991B;
    text-align: center;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 390;
    border: 1px solid #DF991B;
    border-radius: 100px;
    padding: 24px 123px;
    width: fit-content;
    justify-self: end;
}

.footer_form:hover button {
    background-color: #FFF;
    color: #000;
    border: #FFF;
}
  
.info {
    width: 100%;
    height: 310px;
    display: grid;
    color: white;
}

.footer_text {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.footer_text img {
    padding-bottom: 50px;
}

.footer_text p {
    color: #B4B7B7;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 390;
    padding-top: 8px;
}

.footer_text a {
    text-decoration: none;
    color: #B4B7B7;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 390;
}

.grey {
    padding-bottom: 45px;
}

.footer2 {
    padding-left: 75px;
}

.white_text .white {
    color: #fff;
}

.text_right {
    text-align: right;
}

.text_right p {
    color: #B4B7B7;
    font-family: 'Roboto';
    font-size: 30px;
    font-style: normal;
    font-weight: 390;
}

.text_right .call_center {
    color: #B4B7B7;
    font-family: 'Hedvig Letters Serif';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}

.text_right .number_contact {
    color: #B4B7B7;
    font-family: 'Hedvig Letters Serif';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 20px;
}
  
  .footer_bar {
    width: 100%;
    height: 1.5px;
    background-color: white;
  }
  
  .copyright {
    color: #FFF;
    text-align: center;
    font-family: Brandon Grotesque;
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    text-align: center;
    margin-bottom: 5px;
  }